<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>labyrinth-vue</title>
  </head>
  <body style="height:100%">
    <noscript>
      <strong
        >We're sorry but labyrinth-vue doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
<style>
  @font-face {
    font-family: "Labyrinth";
    src: url("Labyrinth.otf");
  }
</style>
</html>
