<template>
  <div class="tileRows">
    <tileRow
      v-for="(tileRow, index) in tileRows"
      :players="players"
      :index="index"
      :key="tileRow.id"
      :id="tileRow.id"
      :tiles="tileRow.tiles"
      :width="tileRow.width"
    >
    </tileRow>
  </div>
</template>

<script>
import TileRow from './TileRow';

export default {
  name: 'GameMap',
  components: {
    tileRow: TileRow
  },
  props: ['tileRows', 'players']
};
</script>

<style scoped>
.tileRows {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
</style>
