<template>
  <div class="tiles">
    <tile
      v-for="(tile, tileIndex) in tiles"
      :key="tile.id"
      :id="tile.id"
      :row-index="index"
      :column-index="tileIndex"
      :width="tile.width"
      :canCrossTop="tile.canCrossTop"
      :canCrossLeft="tile.canCrossLeft"
      :canCrossRight="tile.canCrossRight"
      :canCrossBottom="tile.canCrossBottom"
    ></tile>
  </div>
</template>

<script>
import Tile from './Tile';

export default {
  name: 'Map.vue',
  components: {
    tile: Tile
  },
  props: {
    id: Number,
    index: Number,
    tiles: Array,
    width: Number
  }
};
</script>

<style scoped>
.tiles {
  display: flex;
}
</style>
