<template>
  <div>
    <svg
      style="z-index: -1"
      :width="width"
      :height="width"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g fill="none" stroke="#000000" stroke-width="2" stroke-linecap="square">
        <line v-if="canCrossTop" :x1="0" :y1="0" :x2="width" :y2="0" />
        <line
          v-if="canCrossRight"
          :x1="width"
          :y1="0"
          :x2="width"
          :y2="width"
        />
        <line
          v-if="canCrossBottom"
          :x1="0"
          :y1="width"
          :x2="width"
          :y2="width"
        />
        <line v-if="canCrossLeft" :x1="0" :y1="0" :x2="0" :y2="width" />
      </g>
      <circle
        v-for="(player, index) of playersOnTile"
        :key="index"
        cx="50"
        cy="50"
        r="40"
        stroke="black"
        stroke-width="3"
        :fill="findPlayerColor(index)"
      />
    </svg>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters('player', ['players']),
    playersOnTile() {
      return this.players.filter(
        player =>
          player.row === this.rowIndex && player.column === this.columnIndex
      );
    }
  },
  name: 'Tile.vue',
  props: {
    id: Number,
    width: Number,
    canCrossTop: Boolean,
    canCrossLeft: Boolean,
    canCrossRight: Boolean,
    canCrossBottom: Boolean,
    rowIndex: Number,
    columnIndex: Number
  },
  methods: {
    findPlayerColor(playerIndex) {
      switch (playerIndex) {
        case 0:
          return 'red';
        case 1:
          return 'blue';
        case 2:
          return 'green';
        case 3:
          return 'yellow';
      }
    }
  }
};
</script>

<style scoped></style>
