<template>
  <div>
    <game-map :tile-rows="tileRows"></game-map>
  </div>
</template>

<script>
import GameMap from './GameMap/Map';
import { mapActions, mapGetters } from 'vuex';
import { getTileRowsFromApi } from '../api/labyrinthApi';

export default {
  name: 'Game',
  beforeCreate() {},
  mounted() {
    getTileRowsFromApi(this.level || 'beginner').then(rows => {
      this.tileRows = rows;
    });
    document.addEventListener('backbutton', this.exit, false);
    window.addEventListener('keydown', this.moveSelection);
    this.setWinnerName(undefined);
    this.players
      .filter(player => player.id === this.user.id)
      .forEach(player => {
        this.movePlayerTo(player.id, 0, 0);
      });
  },
  beforeDestroy() {
    document.removeEventListener('backbutton', this.exit);
  },
  components: { GameMap },
  methods: {
    ...mapActions('player', ['movePlayer']),
    ...mapActions('game', ['setWinner']),
    setWinnerName(winnerName) {
      this.setWinner(winnerName);
    },
    movePlayerTo(playerId, row, column) {
      this.movePlayer({ playerId: playerId, row: row, column: column });
    },
    moveSelection(evt) {
      switch (evt.keyCode) {
        case 37:
          this.leftArrowPressed();
          break;
        case 39:
          this.rightArrowPressed();
          break;
        case 38:
          this.upArrowPressed();
          break;
        case 40:
          this.downArrowPressed();
          break;
      }
    },
    leftArrowPressed() {
      const player = this.findCurrentPlayer();
      const tile = this.tileRows[player.row].tiles[player.column];
      if (!tile.canCrossLeft) {
        this.movePlayer({
          playerId: player.id,
          row: player.row,
          column: player.column - 1
        });
        this.checkWin(player.row, player.column - 1);
      }
    },

    rightArrowPressed() {
      const player = this.findCurrentPlayer();
      const tile = this.tileRows[player.row].tiles[player.column];
      if (
        !tile.canCrossRight &&
        player.column < this.tileRows[0].tiles.length - 1
      ) {
        this.movePlayer({
          playerId: player.id,
          row: player.row,
          column: player.column + 1
        });
        this.checkWin(player.row, player.column + 1);
      }
    },

    upArrowPressed() {
      const player = this.findCurrentPlayer();
      const tile = this.tileRows[player.row].tiles[player.column];
      if (player.row !== 0 && !tile.canCrossTop) {
        this.movePlayer({
          playerId: player.id,
          row: player.row - 1,
          column: player.column
        });
        this.checkWin(player.row - 1, player.column);
      }
    },

    downArrowPressed() {
      const player = this.findCurrentPlayer();
      const tile = this.tileRows[player.row].tiles[player.column];
      if (!tile.canCrossBottom) {
        this.movePlayer({
          playerId: player.id,
          row: player.row + 1,
          column: player.column
        });
        this.checkWin(player.row + 1, player.column);
      }
    },
    findCurrentPlayer() {
      return this.players.find(player => player.id === this.user.id);
    },
    checkWin(playerRow, playerColumn) {
      if (
        this.tileRows.length === playerRow &&
        this.tileRows[0].tiles.length - 1 === playerColumn
      ) {
        this.setWinnerName(this.findCurrentPlayer().firstName);
      }
    }
  },
  watch: {
    winner(newValue) {
      if (newValue) {
        alert(newValue + ' won');
        this.$router.push('/');
      }
    }
  },
  computed: {
    ...mapGetters('game', ['level', 'winner']),
    ...mapGetters('player', ['players']),
    ...mapGetters('user', ['user'])
  },
  data() {
    return {
      tileRows: []
    };
  },
  exit() {
    this.exitRoom(this.user.id);
    this.$router.push('/');
  }
};
</script>

<style scoped></style>
