<template>
  <div class="bg">
    <div class="centered-in-window">
      <h2 class="lost-title">You seems to be lost!</h2>
      <h3 class="lost-subtitle">
        <router-link to="/">Go back to home page</router-link>
      </h3>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Lost'
};
</script>

<style scoped>
#app {
  overflow: hidden;
}
.centered-in-window {
  align-content: center;
  padding-top: 400px;
}

.lost-title {
  font-size: 70px;
  font-family: 'Labyrinth';
  color: lime;
  font-weight: bold;
}

.lost-subtitle {
  font-size: 50px;
  color: lime;
  font-weight: bold;
}
.bg {
  background-image: url('../assets/lost.png');
  background-size: 110%;
  transform: translateX(-5%) translateY(-5%);
  height: 110%;
  width: 110%;
}
</style>
