<template>
  <div class="d-flex flex-row justify-content-center flex-fill h-100">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column menu flex-grow-1">
        <div class="container-fluid">
          <h2 class="main-title">Evade yourself!</h2>
        </div>
        <div class="container-fluid">
          <h2>Welcome back {{ user.firstName }}!</h2>
          <h3>Ready to play?</h3>
        </div>
        <div
          class="d-flex flex-grow-1 flex-column align-items-center justify-content-center"
        >
          <div class="container-fluid" v-if="!roomCreated">
            <h3>Create a room</h3>
            <label class="input-title">Select your level</label>
            <b-select v-model="level">
              <option value="beginner" selected>Beginner</option>
              <option value="advanced">Advanced</option>
            </b-select>
            <b-btn
              variant="success"
              class="w-100 top-buffer"
              @click="startNewRoom"
              >Start game!
            </b-btn>
          </div>
          <div class="container-fluid" v-else>
            <label class="input-title">Join the game</label>
            <b-btn variant="success" class="w-100" @click="join"
              >Join the room now!
            </b-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1 align-items-center justify-content-center">
      <img :src="levelImage" />
    </div>
  </div>
</template>

<script>
import easy from '../assets/maze-easy.png';
import hard from '../assets/maze-hard.png';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Home',
  data() {
    return {
      level: 'beginner'
    };
  },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('game', ['roomCreated']),
    levelImage() {
      if (this.level === 'beginner') {
        return easy;
      }
      return hard;
    }
  },
  methods: {
    ...mapActions('game', ['createNewRoom']),
    ...mapActions('player', ['joinRoom']),
    startNewRoom() {
      this.createNewRoom({ level: this.level });
      this.joinRoom(this.user);
      this.$router.push('/waitingroom');
    },
    join() {
      this.joinRoom(this.user);
      this.$router.push('/waitingroom');
    }
  },
  components: {}
};
</script>

<style scoped>
.menu {
  background: #d3d3d3;
  min-width: 300px;
  padding: 30px;
}

.input-title {
  font-size: 20px;
  font-weight: bold;
}

.main-title {
  margin-bottom: 20px;
  font-family: 'Labyrinth';
  font-size: 50px;
}
</style>
