<template>
  <div class="container">
    <div class="logo">
      <img
        alt="Dialog Insight"
        src="../assets/DialogInsight_Logo_hackathon.png"
      />
    </div>
    <div class="signin">
      <div v-if="signinUp" class="container-loading">
        <img src="../assets/loading.gif" alt="Loading Icon" />
      </div>
      <div class="errors">
        <p v-for="value of signupErrors" :key="value">{{ value }}</p>
      </div>
      <form @submit.prevent="signupFormSubmit">
        <input type="email" placeholder="email" v-model="email" />
        <input type="password" placeholder="password" v-model="password" />
        <input
          type="password"
          placeholder="confirm-password"
          v-model="confirmPassword"
        />
        <input type="text" placeholder="First name" v-model="firstName" />
        <input type="text" placeholder="Last name" v-model="lastName" />
        <input type="text" placeholder="Team" v-model="team" />
        <button class="btn-signin" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Signup',
  data() {
    return {
      email: '',
      password: '',
      confirmPassword: '',
      firstName: '',
      lastName: '',
      team: ''
    };
  },
  computed: {
    ...mapGetters('authentication', ['signinUp', 'signupErrors'])
  },
  methods: {
    ...mapActions('authentication', ['signUp']),
    signupFormSubmit() {
      this.signUp({
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword,
        firstName: this.firstName,
        lastName: this.lastName,
        team: this.team
      }).then(_ => {
        this.$router.push(this.$route.query.redirect || '/');
      });
    }
  }
};
</script>

<style scoped></style>
