<template>
  <div class="d-flex flex-column flex-fill h-100 flex-grow-1 container-fluid">
    <div
      class="d-flex flex-row align-items-center justify-content-center flex-grow-0"
    >
      <h2 class="main-title">Waiting for players...</h2>
    </div>
    <div
      class="d-flex flex-row align-items-center justify-content-center flex-grow-0"
    >
      <h3>Level: {{ level }}</h3>
    </div>
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
      <players-list :players="players"></players-list>
    </div>
    <div class="d-flex flex-row">
      <div @click="exit">
        <b-button variant="danger">
          <font-awesome-icon icon="door-open" />
          Exit waiting room
        </b-button>
      </div>
      <div class="d-flex flex-grow-1"></div>
      <div>
        <b-button
          variant="success"
          @click="ready"
          :disabled="!gameCanStart"
          v-if="!amIReady"
        >
          <font-awesome-icon icon="check" />
          Ready
        </b-button>
        <b-button variant="warning" @click="unready" v-else>
          <font-awesome-icon icon="check" />
          No wait
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import PlayersList from '../components/waiting-room/PlayersList';
import { mapActions, mapGetters } from 'vuex';

export default {
  components: { PlayersList },
  name: 'WaitingRoom',
  mounted() {
    document.addEventListener('backbutton', this.exit, false);
  },
  beforeDestroy() {
    document.removeEventListener('backbutton', this.exit);
  },
  methods: {
    ...mapActions('player', [
      'makePlayerReady',
      'makePlayerUnready',
      'exitRoom'
    ]),
    ready() {
      this.makePlayerReady(this.user.id);
    },
    unready() {
      this.makePlayerUnready(this.user.id);
    },
    exit() {
      this.exitRoom(this.user.id);
      this.$router.push('/');
    }
  },
  watch: {
    players(newValue) {
      for (const player of newValue) {
        if (!player.ready) {
          return;
        }
      }
      this.$router.push('/game');
    }
  },
  computed: {
    ...mapGetters('player', ['params', 'players']),
    ...mapGetters('game', ['params', 'level']),
    ...mapGetters('user', ['user']),
    gameCanStart() {
      return true;
    },
    amIReady() {
      return this.players.find(player => player.id === this.user.id).ready;
    }
  }
};
</script>

<style scoped>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>
