<template>
  <div
    class="d-flex flex-row flex-fill h-100 w-100 align-items-center justify-content-center"
  >
    <div
      class="d-flex flex-column flex-grow-1 h-100 align-items-center justify-content-center"
      v-for="(player, index) in players"
      :key="index"
    >
      <player-image :player-index="index" />
      <h3 class="user-name">{{ player.firstName }}</h3>
      <div v-if="player.ready" style="color:green">Ready !</div>
    </div>
  </div>
</template>

<script>
import PlayerImage from '../PlayerImage';
export default {
  components: { PlayerImage },
  props: ['players'],
  name: 'PlayersList'
};
</script>

<style scoped>
.user-name {
  font-family: 'Labyrinth';
}
</style>
