<template>
  <img class="player-img" :src="image" />
</template>

<script>
import first from '../assets/characters/1.png';
import second from '../assets/characters/2.png';
import third from '../assets/characters/3.png';
import fourth from '../assets/characters/4.png';

const images = [first, second, third, fourth];

export default {
  name: 'PlayerImage',
  props: ['playerIndex'],
  computed: {
    image() {
      return images[this.playerIndex];
    }
  }
};
</script>

<style scoped>
.player-img {
  height: 300px;
  max-height: 300px;
}
</style>
